.order-form-container {
  background-color: blue;
  width: 750px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  border: solid 2px black;
  border-radius: 15px;
  padding: 20px;
}

label {
  margin-bottom: 10px;
  font-size: large;
}

input {
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  width: 275px;
  font-size: x-large;
}

button {
  padding: 10px;
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  font-size: large;
}
