@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Titillium+Web:ital,wght@0,300;1,300&display=swap");

* {
  font-family: "Handlee", cursive;
  text-decoration: none;
  background-color: var(--mainColorLight);
  color: black;
}

:root {
  --mainColor: #24a388;
  --mainColorLight: #d9f1eb;
  --secondaryColor: black;
  --textColor: #eee;
}

/* header .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  font-size: 2.5rem;
  width: 15%;
} */

/* Add the following styles for cart icon */
.nav-cart {
  display: flex;
  align-items: center;
}

.nav-cart-link {
  color: var(--textColor);
  text-decoration: none;
  font-size: 2rem;
}

.nav-cart-link:hover {
  color: var(--secondaryColor);
}

.navLink:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 2px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  columns: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1000px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }

  header .responsive_nav {
    transform: none;
  }
  /* nav .nav-close-btn {
    position: absolute;
    top: 0rem;
    right: -26rem;
  } */
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 0.5s;
    transform: translateY(-100vh);
  }
}

@media only screen and (max-width: 750px) {
  /* header .nav-btn {
    visibility: visible;
    opacity: 1;
    z-index: 1;
  } */

  header .responsive_nav {
    transform: none;
  }
  /* nav .nav-close-btn {
    position: absolute;
    top: 0rem;
    right: -26rem;
  } */
  header nav {
    /* display: flex;
    flex-direction: row; */

    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: 1.5rem;
    transition: 0.5s;
    transform: translateY(-100vh);
  }
}

body {
  min-height: 100vh;
  margin: 0;
}
