@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Titillium+Web:ital,wght@0,300;1,300&display=swap");

* {
  font-family: "Handlee", cursive;
  text-decoration: none;
  background-color: var(--mainColorLight);
  color: black;
}

:root {
  --mainColor: #24a388;
  --mainColorLight: #eee;
  --secondaryColor: black;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 135px;
  padding: 0 2rem;
  margin: 0;
  background-color: var(--mainColor);
  color: var(--textColor);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
}

header h3 {
  background-color: var(--mainColor);
  font-size: 1.5rem;
  color: var(--textColor);
  margin: auto;
}
.faTimes {
  background-color: var(--mainColor);
}
.faBars {
  background-color: var(--mainColor);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
  position: absolute;
  right: 830px; /* Adjust the right position */
  padding: 2px;
  margin: 0 2rem;
  background-color: var(--mainColor);
}

.navLink {
  color: var(--textColor);
  background-color: var(--mainColor);
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px; /* Add margin to create space between links */
}

/* Add the following styles for cart icon */
.nav-cart {
  display: flex;
  align-items: center;
}

.nav-cart-link {
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-cart-link:hover {
  color: var(--secondaryColor);
}

.navLink:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  columns: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1000px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    position: absolute;
    right: -375px;
    width: 100%;
    top: inherit;
  }

  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 0rem;
    right: -26rem;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 0.5s;
    transform: translateY(-100vh);
  }
}

body {
  min-height: 100vh;
}

/* a {
  text-decoration: none;
  color: black;
} */
