/* .div-cookie-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

#cookie-title {
  display: flex;
  flex-direction: row;
  background-color: pink;

  font-size: 50px;

  padding: 1rem;
}

@media (max-width: 2396px) {
  #cookie-title {
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }
}
