/* ItemSelector.css */

.selectComponent {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.buttons {
  display: inline-flex;
  padding: 15px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--mainColor);
  color: #fff;
  border: black 0.5px solid;
  cursor: pointer;
  z-index: 1;
}

.cartSummary {
  display: inline-block;
  border: solid 1px black;
  margin: 1% 15px;
  width: 400px;
  border-radius: 10px;
  font-size: 1.2rem;
  flex-direction: column;
}

.cookie-description {
  display: inline-block;
  font-size: x-large;
  position: relative;
  max-width: 100%;
  width: 25%;
  height: 25%;
  border: 3px solid blue;
}
.dropdown-selector {
  display: inline-block;
  border: 3px black solid;
  border-radius: 15px;
  font-size: 1.2rem;
  align-self: flex-end; /* Align the select to the right side */
}

select option {
  font-size: 1.2rem; /* Adjust the font size of the dropdown options */
  border-radius: 10px;
}

button:hover {
  background-color: #24a388;
}

/* Additional styles for the items in the cart */
.menu-div-prices > div:last-child {
  margin: 5px;
  font-size: xx-large;
}

span {
  font-family: monospace;
  cursor: pointer;
  margin-left: 5px;
}
