.main-nav-container {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  background-color: var(--mainColor);
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.nav-links-left {
  display: flex;
  margin-right: auto;
}
.nav-links-right {
  display: flex;
  margin-right: auto;
  gap: 50px;
  background-color: var(--mainColor);
}

.nav-link {
  background-color: var(--mainColor);
}

.nav-link:hover {
  color: white;
}

header .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  columns: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1100px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    margin: 5px;
    z-index: 1;
  }
  .main-nav-container .responsive_nav {
    display: flex;
    flex-direction: row;
  }
  .nav-links-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* background-color: var(--mainColor); */
    /* visibility: hidden; */
  }
  .responsive_nav .nav-links-right {
    display: flex;
    flex-direction: row;
    visibility: visible;
    transform: translateY(10vh);
    transition: transform 0.5s ease;
  }
  .nav-links-right {
    visibility: visible;
    transform: translateY(-10vh);
    transition: transform 0.5s ease;
  }

  header nav {
    /* min-height: 100vh;
    min-width: 100vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 1.5rem; */
    transition: 0.5s;
    /* transform: translateY(100vh); */
  }

  /* .main-nav-container {
    display: flex;
    flex-direction: row;
    background-color: var(--mainColor);
    font-size: 40px;
    justify-content: center;
    align-items: center;
  } */
}

@media only screen and (max-width: 412px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    margin: 2px;
    z-index: 1;
  }
  .main-nav-container .responsive_nav {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    background-color: var(--mainColor);
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  .nav-links-right {
    display: flex;
    margin-right: auto;
    gap: 50px;
    background-color: var(--mainColor);
    visibility: hidden;
  }
  header .responsive_nav .nav-links-right {
    display: flex;
    flex-direction: row;
    visibility: visible;
    transform: translateY(10vh);
    transition: transform 0.5s ease;
  }
  header .nav-links-right .nav-link {
    display: flex;
    flex-direction: row;
    visibility: visible;
    transform: translateY(-10vh);
    transition: transform 0.5s ease;
  }

  header nav {
    /* min-height: 100vh;
    min-width: 100vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 1.5rem; */
    transition: 0.5s;
    /* transform: translateY(100vh); */
  }

  /* .main-nav-container {
    display: flex;
    flex-direction: row;
    background-color: var(--mainColor);
    font-size: 40px;
    justify-content: center;
    align-items: center;
  } */
}
