.main-nav-container {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  background-color: var(--mainColor);
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.nav-links-left {
  display: flex;
  margin-right: auto;
}
.nav-links-right {
  display: flex;
  margin-right: auto;
  gap: 50px;
  background-color: var(--mainColor);
}

.nav-link {
  background-color: var(--mainColor);
}

.nav-link:hover {
  color: white;
}

header .nav-btn {
  visibility: hidden;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media only screen and (max-width: 1100px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    margin: 5px;
    columns: var(--textColor);
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
  }
  .main-nav-container .responsive_nav {
    display: flex;
    flex-direction: row;
  }
  .nav-links-right {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    gap: 20px;

    /* background-color: var(--mainColor); */
    /* visibility: hidden; */
  }
  .responsive_nav .nav-links-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    transform: translateY(7vh);
    transition: transform 0.5s ease;
  }
  .nav-links-right {
    visibility: visible;
    transform: translateY(-10vh);
    transition: transform 0.5s ease;
  }
  .nav-links-right :first-child {
    margin-left: 10px;
  }
  .nav-links-right :last-child {
    margin-left: auto;
    padding-right: 9px;
  }

  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
  }
}
/* 
@media only screen and (max-width: 412px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    margin: 2px;
    z-index: 1;
  }
  .main-nav-container .responsive_nav {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    background-color: var(--mainColor);
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  .nav-links-right {
    display: flex;
    margin-right: auto;
    gap: 50px;
    background-color: var(--mainColor);
    visibility: hidden;
  }
  header .responsive_nav .nav-links-right {
    display: flex;
    flex-direction: row;
    visibility: visible;
    transform: translateY(10vh);
    transition: transform 0.5s ease;
  }
  header .nav-links-right .nav-link {
    display: flex;
    flex-direction: row;
    visibility: visible;
    transform: translateY(-10vh);
    transition: transform 0.5s ease;
  }

  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
  }
} */
