nav {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
  position: relative;
  width: 100%;
  background-color: var(--mainColor);
  text-decoration: none;
  font-size: 2.5rem;
}

nav .link {
  background-color: var(--mainColor);
  margin: 2rem;
}
