.flex-container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.cookie-title {
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pricing-menu {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
  min-width: 250px;
  padding: 30px;
  margin-right: 300px;
}

.cookie-description {
  background-color: green;
  /* width: 40%; */
  width: 700px;
  font-size: xx-large;
  padding: 30px;
}

.menu-cookie-picture {
  background-color: yellow;
}

@media (max-width: 4000px) {
  .cookie-description {
    width: 400px;
    font-size: large;
  }
}
