.flex-container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cookie-title {
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pricing-menu {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 900px;
  font-size: 2rem;
}

.cookie-description {
  background-color: green;
  width: 40%;
  font-size: xx-large;
}

.menu-cookie-picture {
  background-color: yellow;
}

button {
  padding: 15px;
  width: 10rem;
  margin: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  background-color: var(--mainColor);
  color: #fff;
  border: black 0.5px solid;
  cursor: pointer;
  z-index: 1;
}
