.accordionStyle {
  cursor: pointer;
  padding: 8px;
  margin: 10px 0px;
  overflow: hidden;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media (max-width: 1370px) {
  .accordionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordionStyle {
    cursor: pointer;
    padding: 8px;
    margin: 10px 0px;
    overflow: hidden;
    min-width: 300px;
  }
}
